*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

#encabezado{
    background: #008178;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

/* menu */

/*Entrenador*/

#entrenador{
    font-family: cursive;
    color: black;
    border: 7px solid #17A589;
    border-radius: 69px;
    box-shadow: 0 0 0 3px #0e7561;
    position: relative;
}

img {
    width: 20%;
    height: 20%;
    margin-left: 43%;
    margin-bottom: -4px;
}

a{
    color: black;
    float: right;
    text-decoration: none;
    display: block;
    margin-right: 35%;
}

/*Deportista*/

#deportista{
    font-family: cursive;
    color: black;
    border: 7px solid #17A589;
    border-radius: 69px;
    box-shadow: 0 0 0 3px #0e7561;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*fisio*/

#fisio{
    font-family: cursive;
    color: black;
    border: 7px solid #17A589;
    border-radius: 69px;
    box-shadow: 0 0 0 3px #0e7561;
    position: relative;
    margin-top: 80px;
}

.fisio{
    color: black;
    float: right;
    text-decoration: none;
    display: block;
    margin-right: 600px;
}