*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../images/Silueta-gym.jpg");
}

h1{
    text-align: center;
    color: white;
}

p{
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    color: white;
    text-shadow: 0.5px 1px 1px #17A589;
}

#register{
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
    background-color: rgba(0, 0 , 0 ,0.5);
    border: 2px solid rgba(0, 0 , 0 , 0);
    box-shadow: 0 0 0 1px #FA791C;
    padding: 11px;
}
form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"],
select{
	padding: 5px;
	border-radius: 5px;
	border: 3px solid #FA791C;
    box-sizing: border-box;
	width: 60%;
	margin-bottom: 10px;
	margin-top: 5px;
    outline: none;
}

form input[type="submit"]{
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
}

#form_enter{
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #EA752E;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 5px;
    justify-content: center;
}

input[type=text]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus{
    border: 5px solid #ff7b00fd;
}

.Reg{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0f856d;
    border: 2px solid #17A589;
}

a{
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0.5px 1px 1px #17A589;
}